div{
    border: 10px double rgba(90, 79, 18, 0.829);
    padding: 20px;
    margin: 15px;
    background-color: rgba(209, 189, 206, 0.918);
}

h1,h2,h3,h4,h6{color: rgb(150, 43, 150);
    font-size: 60px;
    text-shadow: 4px 4px rgb(75, 46, 46);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;


}


p{
    color: rgb(12, 7, 5);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;

}
table{
    margin: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}

td,th{
    padding: 20px;
    padding-left: 20;
    padding-right: 20px;
    border: 2px solid;
    height: 70%;
    text-align: center;
}

tr:hover{
    color: rgb(111, 111, 163);
    background-color: bisque;
}

ol li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    text-align: center;
    font-size: 120%;
}
a{
    color: rgb(32, 10, 21);
    font-size: 150%;
}
.c{
    text-align: center;
    color: white;
    background-color: rgb(192, 167, 167);
}

a:link, a:visited {
    background-color: #928e4d;
    color: rgb(85, 24, 24);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }